[submodule "nginx"]
	path = nginx
	url = https://github.com/jfryman/puppet-nginx
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/hunner/puppet-wordpress.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet"]
	path = puppet
	url = https://github.com/example42/puppet-puppet.git
[submodule "puppi"]
	path = puppi
	url = https://github.com/example42/puppi.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
